body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2개의 버튼을 한 행에 배치 */
    grid-gap: 20px; /* 버튼 사이의 간격 */
    max-width: 800px;
    margin: 50px auto; /* 가운데 정렬 */
    padding: 20px;
}

button {
    padding: 50px; /* 버튼 크기를 키우기 위해 패딩 설정 */
    font-size: 24px; /* 큰 글자 크기 */
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 10px;
}

/* 각 도시 버튼에 배경색 지정 */
.busan-btn {
    background-color: blue;
}

.seoul-btn {
    background-color: purple;
}

.jeju-btn {
    background-color: orange;
}

.gyeongju-btn {
    background-color: pink;
}

/* Modal 스타일 */
.modal {
    display: none; /* 기본적으로 보이지 않음 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
    text-align: right;
    padding: 10px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
}